<%- include("./partials/header", {title: "Create Recipe"}) %>
<%- include("./navbar", {user: user}) %>
<div class="form">
    <form
        action="/recipes/createRecipe"
        method="post"
        enctype="multipart/form-data"
    >
        <% if (error_msg) { %>
            <h3 id="errorMsg">
                <%= error_msg %>
            </h3>
        <% } %>
        <h2>Create Recipe</h2>
        <img id="preview-img" class="imageUpdate" />
        <input
            type="file"
            name="recipeImage"
            placeholder="image"
            id="recipeImage"
            style="margin-top: 20px"
        />
        <input type="text" name="title" placeholder="title" />
        <textarea
            type="text"
            name="description"
            placeholder="description"
            minlength="10"
            maxlength="200"
            class="description"
            aria-valuemin="10"
            aria-valuemax="200"
        ></textarea>
        <input type="text" name="totalTime" placeholder="total time" />
        <input type="text" name="prepTime" placeholder="preparation time" />
        <input type="text" name="cookingTime" placeholder="cooking time" />
        <div class="ingredientList">
            <div class="ingredientDiv">
                <input type="text" name="ingredients" class="ingredients" />
            </div>
        </div>
        <button type="button" id="addIngredientsBtn" class="addIngredient">
            + Ingredient
        </button>
        <div class="instructionList">
            <div class="instructionDiv">
                <input type="text" name="instructions" class="ingredients" />
            </div>
        </div>
        <button type="button" id="addInstructionsBtn" class="addInstruction">
            + Instruction
        </button>
        <input type="text" name="calories" placeholder="calories" />
        <input type="text" name="carbs" placeholder="carbs" />
        <input type="text" name="protein" placeholder="protein" />
        <input type="text" name="fat" placeholder="fat" />
        <button type="submit" class="createRecipe">Create Recipe</button>
    </form>
</div>
<a href="/recipes">Back to Recipes</a>
<%- include("./partials/footer") %>
