<%- include("./partials/header", {title: "Forgot Password"}); %>
<div class="form">
    <form action="/auth/forgotPassword" method="post">
        <% if (error_msg) { %>
            <h3 id="errorMsg">
                <%= error_msg %>
            </h3>
        <% } %>
        <% if (success_msg) { %>
            <h3 id="successMsg">
                <%= success_msg %>
            </h3>
        <% } %>
        <h2>Forgot Password</h2>
        <input type="email" name="email" placeholder="email" />
        <button type="submit" class="forgotPasswordBtn">Send Reset Link</button>
    </form>
</div>
<%- include("./partials/footer") %>