<%- include("./partials/header", {title: "Home"}); %>
<div class="form">
    <form action="/" method="post" id="myForm">
        <% if (error_msg) { %>
            <h3 id="errorMsg">
                <%= error_msg %>
            </h3>
        <% } %>
        <% if (success_msg) { %>
            <h3 id="successMsg">
                <%= success_msg %>
            </h3>
        <% } %>
        <h2>Register</h2>
        <input placeholder="username" name="username" type="text" />
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <div class="registerLogin">
            <button type="submit">Register</button>
            <a href="/login">Login</a>
        </div>
        <a href="/guestLogin" role="button" class="guestBtn">
            Login As Guest</a>
        <a href="/auth/google" role="button" class="googleBtn">
            <i class="ri-google-line" style="font-weight: 700; font-size: 24px;"></i>
            Sign In With Google
        </a>
    </form>
</div>
<%- include("./partials/footer") %>
